<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/static/js/operations.js"></script>
    <script src="/static/js/streaming_test.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/index.css">

    <script>
        operations();
    </script>

    <meta http-equiv="refresh" content="12000" />
</head>
<body>
    <h1>Welcome to Peerster!</h1>

    <div>
        <h2>ID Box</h2>
        Peer ID: <strong>{{.Name}}</strong><br>
        <input class="webinput" id="name" type="text" name="name">
        <input class="webbtn" id="namebtn" type="submit" value="Change ID">
    </div>

    <div>
        <h2>Peer Box</h2>
        Peers: <strong>{{ range $key, $value := .Peers }}
        {{ $value }},
        {{ end }}</strong><br>
        <input class="webinput" id="peer" type="text" name="peer">
        <input class="webbtn" id="peerbtn" type="submit" value="Add Peer"><br>
        TrustedPeers: <strong>{{ range $key, $value := .TrustedPeers }}
        {{ $value }},
        {{ end }}</strong><br>
        <input class="webinput" id="trusted_peer" type="text" name="trusted_peer">
        <input class="webbtn" id="trusted_peerbtn" type="submit" value="Add Trusted Peer">
    </div>

    <div>
        <h2>Chat Box</h2>
        <input class="webinput" id="msg" type="text" name="message">
        <input class="webbtn" id="msgbtn" type="submit" value="Add Message"><br>
        <ul>
        {{ range $key, $value := .Messages }}
           <li>{{ $value }}</li>
        {{ end }}
        </ul>
    </div>
    <div>
        <h2>Private Message Box</h2>
        <select class="webinput" id="privdst" >
            <option value="" selected="selected" hidden>Message Destination</option>
            {{ range $key, $value := .KnownRoutes}}
            <option value="{{$value}}">{{ $value}}</option>
            {{ end }}
        </select>
        <input class="webbtn" id="showprivmsgbtn" type="submit" value="Show Message"><br>

        <input class="webinput" id="privmsg" type="text" name="message">
        <input class="webbtn" id="privmsgbtn" type="submit" value="Add Message"><br>
        {{ range $dest, $msglist := .PrivateMessages}}
            <ul class="priv_msg_class" id="priv_msg{{$dest}}" hidden>
            {{ range $key, $value := $msglist }}
            <li>{{ $value }}</li>
            {{ end }}
            </ul>
        {{end}}
    </div>

    <div>
        <h2>File Sharing</h2>
        <input class="webinput" id="fileupload" type="file" name="message">
        <input class="webbtn" id="fileuploadbtn" type="submit" value="Share File"><br>
    </div>

    <div>
        <h2>File Download</h2>
        <select class="webinput" id="filedwldpeer" >
            <option value="" selected="selected" hidden>File Source</option>
            {{ range $key, $value := .KnownRoutes}}
            <option value="{{$value}}">{{ $value}}</option>
            {{ end }}
        </select>
        <input class="webbtn" id="filedwldname" type="text" ><br>
        <input class="webinput" id="filedwldhash" type="text" name="message">
        <input class="webbtn" id="filedwldbtn" type="submit" value="Download File"><br>
        <ul>
        {{ range $key, $value := .UploadedFiles }}
           <li>{{ $value }}</li>
        {{ end }}
        </ul>
    </div>

    <div>
    <h2>File Search</h2>
        <input class="webinput" id="filesearchkey" type="text" name="message">
        <input class="webbtn" id="filesearchbtn" type="submit" value="Search Keywords"><br>
        <select class="webinput" id="filesearchfound" >
            <option value="" selected="selected" hidden>Found Files</option>
            {{ range $key, $value := .FoundFiles}}
            <option value="{{$key}}">{{ $key}}</option>
            {{ end }}
        </select>
        <input class="webbtn" id="filesearchdwldbtn" type="submit" value="Download File"><br>
    </div>

    <div>
        <h2>Multimedia Player</h2>
        <video controls></video>
    </div>
</body>
