<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#namebtn").click(function(){
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewID",
                   Message: $("#name").val()}
        });
        $("#name").val('').attr('value','')
    });
    $("#peerbtn").click(function(){
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewPeer",
                   Message: $("#peer").val()}
        });
        $("#peer").val('').attr('value','')
    });
    $("#msgbtn").click(function(){
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewMessage", 
                   Message: $("#msg").val()}
        });
        $("#msg").val('').attr('value','')
    });
    $("#privmsgbtn").click(function(){
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewPrivateMessage",
                   Message: $("#privmsg").val(),
                   Destination: $("#privdst").val()}
        });
        $("#privmsg").val('').attr('value','')
    });
    $("#showprivmsgbtn").click(function () {
        var msg = $('#privdst').find(":selected").text();
        id_to_be_showed = "priv_msg"+msg
        //$(".priv_msg_class").attr("hidden", true)
        //$(id_to_be_showed).attr("hidden", false)
        items = document.getElementsByTagName("UL")
        for (i=0; i<items.length; i++) {
            item = items[i]
            if (item.id.startsWith("priv_msg")) {
                if(id_to_be_showed==item.id ) {
                    item.removeAttribute("hidden")
                    //alert("Show"+item.id);
                } else{
                    item.setAttribute("hidden", true)
                    //alert("Hide "+item.id+":"+id_to_be_showed);
                }
            }
        }
    });
    $("#fileuploadbtn").click(function () {
        var file_upload = document.getElementById("fileupload")
        //alert(fileupload.files)
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewFileUpload",
                   Message: fileupload.files[0].name}
        });
        fileupload.value = ""
        //alert($(fileupload.files))
        //console.dir(this.files)
    });
    $("#filedwldbtn").click(function () {
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewFileDownload",
                   Message: $("#filedwldname").val(),
                   Destination: $("#filedwldpeer").val(),
                   Hash: $("#filedwldhash").val()}
        });
        $("#filedwldname").val('').attr('value','')
        $("#filedwldhash").val('').attr('value','')
    });
    $("#filesearchbtn").click(function () {
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewFileSearch",
                   Message: $("#filesearchkey").val()}
        });
        $("#filesearchkey").val('').attr('value','')
    });
    $("#filesearchdwldbtn").click(function () {
        $.ajax
        ({
            url: '/id',
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            data: {Operation: "NewFileDownload",
                   Message: $("#filesearchfound").val()}
        });
        //$("#filesearchkey").val('').attr('value','')
    });
});
</script>
<style>
.webinput {
    width: 500px;
}
.webbtn {
    width: 200px;
}
</style>
<meta http-equiv="refresh" content="60" />
</head>
<body>
<h1>Welcome to Peerster!</h1>
<div>
<h2>ID Box</h2>
Peer ID: <strong>{{.Name}}</strong><br>
    <input class="webinput" id="name" type="text" name="name">
    <input class="webbtn" id="namebtn" type="submit" value="Change ID">
</div>

<div>
<h2>Peer Box</h2>
Peers: <strong>{{ range $key, $value := .Peers }}
    {{ $value }},
{{ end }}</strong><br>
    <input class="webinput" id="peer" type="text" name="peer">
    <input class="webbtn" id="peerbtn" type="submit" value="Add Peer">
</div>
<div>
<h2>Chat Box</h2>
    <input class="webinput" id="msg" type="text" name="message">
    <input class="webbtn" id="msgbtn" type="submit" value="Add Message"><br>
    <ul>
    {{ range $key, $value := .Messages }}
       <li>{{ $value }}</li>
    {{ end }}
    </ul>
</div>
<div>
<h2>Private Message Box</h2>
    <select class="webinput" id="privdst" >
        <option value="" selected="selected" hidden>Message Destination</option>
        {{ range $key, $value := .KnownRoutes}}
        <option value="{{$value}}">{{ $value}}</option>
        {{ end }}
    </select>
    <input class="webbtn" id="showprivmsgbtn" type="submit" value="Show Message"><br>
    
    <input class="webinput" id="privmsg" type="text" name="message">
    <input class="webbtn" id="privmsgbtn" type="submit" value="Add Message"><br>
    {{ range $dest, $msglist := .PrivateMessages}}
        <ul class="priv_msg_class" id="priv_msg{{$dest}}" hidden>
        {{ range $key, $value := $msglist }}
        <li>{{ $value }}</li>
        {{ end }}
        </ul>
    {{end}}
</div>
<div>
<h2>File Sharing</h2>
    <input class="webinput" id="fileupload" type="file" name="message">
    <input class="webbtn" id="fileuploadbtn" type="submit" value="Share File"><br>
</div>
<div>
<h2>File Download</h2>
    <select class="webinput" id="filedwldpeer" >
        <option value="" selected="selected" hidden>File Source</option>
        {{ range $key, $value := .KnownRoutes}}
        <option value="{{$value}}">{{ $value}}</option>
        {{ end }}
    </select>
    <input class="webbtn" id="filedwldname" type="text" ><br>
    <input class="webinput" id="filedwldhash" type="text" name="message">
    <input class="webbtn" id="filedwldbtn" type="submit" value="Download File"><br>
    <ul>
    {{ range $key, $value := .UploadedFiles }}
       <li>{{ $value }}</li>
    {{ end }}
    </ul>
</div>
<div>
<h2>File Search</h2>
    <input class="webinput" id="filesearchkey" type="text" name="message">
    <input class="webbtn" id="filesearchbtn" type="submit" value="Search Keywords"><br>
    <select class="webinput" id="filesearchfound" >
        <option value="" selected="selected" hidden>Found Files</option>
        {{ range $key, $value := .FoundFiles}}
        <option value="{{$key}}">{{ $key}}</option>
        {{ end }}
    </select>
    <input class="webbtn" id="filesearchdwldbtn" type="submit" value="Download File"><br>
</div>
</body>
